<template>
  <div>
    <b-form-select v-model="selected" class="mb-3" v-on:change="dropChange()">
      <b-form-select-option value=1>Reclamo</b-form-select-option>  
      <b-form-select-option value=2>Solicitud</b-form-select-option> 
      <b-form-select-option value=3>Queja</b-form-select-option>   
    </b-form-select>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        selected: 1
      };
    },
    methods:{
    dropChange(){
    const params = {selected:this.selected};
    this.$emit('changeDropdown',params);
    }
    }
  }
</script>