<template>
    <div class="card">
                <div class="card-header">Enviar Correo</div>

                <div class="card-body">                   
                    <form action="" v-on:submit.prevent="enviar()">
                        <div class="form-group">                            
                            <div>
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" class="form-control" v-model="nombre">
                            </div>

                            <div>
                            <label for="correo">Email</label>
                            <input type="Email" name="correo" class="form-control" v-model='correo'>
                            </div>

                            <div>
                            <label for="asunto">Asunto</label> 
                            <dropdown-component @changeDropdown="changeDrop"></dropdown-component>                           
                            </div>

                            <div>
                            <label for="mensaje">Mensaje</label>
                            <textarea class="form-control" v-model="mensaje"></textarea>                            
                            </div>


                        </div>
                        <div class="panel-footer text-center">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
</template>

<script>
    export default {
        data(){
         return({nombre:'',correo:'',asunto:1,mensaje:''});
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods:{
          enviar(){
          const params = {nombre:this.nombre,correo:this.correo,asunto:this.asunto,mensaje:this.mensaje};
          axios.post('/formulario',params).then((response)=>{
            alert(response.data.fromName);
            this.nombre = "";
            this.correo = "";
            this.asunto = "";
            this.mensaje = "";
            })

          },
          changeDrop(data){
            this.asunto = data.selected;
          }
        }

    }
</script>
